@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
            <div class="col-3">
                <partial name="_ProductCard" model="product"></partial>
            </div>
    }
</div>
